.photoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
  padding: 0em 5em 5em 5em;
  justify-content: center;
}
@media (max-width: 1024px) {
  .photoGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 560px) {
  .photoGrid {
    grid-template-columns: 100%;
    padding: 1em;
  }
}
