.photoCard {
  list-style: none;
  font-size: 1.5rem;
  text-align: center;
}
.photoCard_container {
  margin: 0;
}
.card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 1em;
  right: 1em;
}
.card-link button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
}
.inside {
  display: flex;
  position: absolute;
}
.rate {
  position: absolute;
  left: 0.5em;
  display: flex;
  align-items: center;
}
.inside::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 100px solid white;
  border-right: 100px solid transparent;
}
.photoCard_caption > div {
  display: flex;
  font-size: 0.9em;
  justify-content: center;
  gap: 0.5em;
}
.photoCard_caption h3 {
  font-family: Quicksand;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-top: 0.3em;
}
.photoCard_author span {
  color: #cdcdcd;
}
.photoCard_author p {
  font-family: "Bitter", serif;
  font-style: italic;
}
.photoCard:hover {
  opacity: 0.5;
}

@media (max-width: 560px) {
  .card-link {
    display: flex;
    position: unset;
    flex-direction: row;
    justify-content: space-around;
  }
  .card-link-likes {
    display: flex;
    align-items: center;
    border-right: 1px solid;
    flex: 1;
    width: 100%;
    justify-content: center;
  }
  .card-link-dislikes {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    justify-content: center;
  }
}
