.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5em;
}

.searchInput {
  font-size: 1.2rem;
  padding: 0.5em;
  border: 1px solid white;
  background: rgb(243, 243, 243);
  text-align: center;
  height: auto;
  width: 15em;
  border-radius: 20px;
}

.searchButton {
  background: none;
  border: none;
}

.searchInput:focus,
.searchButton:focus {
  outline: none;
  border: 1px solid #edeae8;
  box-shadow: 0 0 5px #edeae8;
}
@media (max-width: 560px) {
  .searchContainer {
    padding: 1em;
  }
  .logo {
    height: 4em;
    width: auto;
  }
  .searchInput {
    font-size: 0.7rem;
  }
}
