@font-face{
  font-family: 'Quicksand', sans-serif;
  src:local('Quicksand'), url('./components/Shared/assets/fonts/Quicksand-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: Quicksand;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
